# explicitely exclude all files from the build context
# (each file needed in the Dockefile need to be included manually)
*

# Specific to Terraform installation
!hashicorp.asc

# Specific to Hadolint linter
!hadolint.yaml
